*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* css para index.php */
header{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0px;

    padding: 0% 5%;
}

#logo-header {
    height: 100%;
    display: flex; 
}

navbar{
    display: flex;
    width: 100%;
    padding: 1vh;
    justify-content: space-between;
    align-items: center;
}

navbar ul{
    display: flex;
    width: 50vh;    
    justify-content: space-around;
    
}

navbar li {
    list-style-type: none;
    height: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 54px;
    font-weight: 700;
}

main {
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;

    display: flex;
}

#banner-index {
    background-image: url("../img/banner.png");

    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    gap: 10px;
}

#fundo-cardapio {
    background-image: url("../img/logo_footer_icon.png");

    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#banner-index a {
    padding: 1vh 1vw;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: white;
}

footer navbar {
    background-color: #ffbc0d;
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

footer navbar img{
    height: 80%;
}

/* css para tela_login_vendedor.php */

#tela-login {
    justify-content: center;
    align-items: center;
}

#tela-login h2 {
    color: #db0007;
}

#tela-login > div {
    width: 50vw;
    height: 30vh;

    border: 2px solid grey;
    border-radius: 4px;
    
    display: flex;
}

#tela-login section {
    height: 100%;
    width: 50%;
    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
}

#tela-login form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    gap: 10%;
}

#tela-login input[type="password"] {
    padding: 10px;
    border: 2px solid #ffbc0d;
    border-radius: 4px;
    outline: none;
}

#tela-login input[type="submit"]{
    background-color: white;
    color: #ffbc0d;
    padding: 10px 15px;
    margin-top: 2px;
    border: 2px solid #ffbc0d;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 10px;
    transition: 0.5s;

    align-self: flex-end;
}

#tela-login input[type="submit"]:hover{
    background-color: #ffbc0d;
    color: white;
}

#tela-login section img{
    height: 8vh;
    width: 8vh;
}





/* css para lista_anunciados_vendedor.php */

/* css para tela_anunciar_vendedor.php */
#tela-anunciar {
    justify-content: center;
    align-items: center;
}

#tela-anunciar h2 {
    color: #db0007;
}

#tela-anunciar > div {
    width: 55vw;
    height: 80vh;

    border: 2px solid grey;
    border-radius: 4px;
    
    display: flex;
}

#tela-anunciar section {
    height: 100%;
    width: 50%;
    padding: 2vh 4vw;

    display: flex;
    flex-direction: column;
}

#tela-anunciar form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10%;
    gap: 2%;
}

#tela-anunciar label{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#tela-anunciar input[type="file"] {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffbc0d;
    border-radius: 4px;
    outline: none;
}

#tela-anunciar input[type="text"] {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffbc0d;
    border-radius: 4px;
    outline: none;
}

#tela-anunciar input[type="number"] {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffbc0d;
    border-radius: 4px;
    outline: none;
}

select {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffbc0d;
    border-radius: 4px;
    outline: none;
}

span{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    outline: none;
}

#tela-anunciar input[type="submit"]{
    background-color: white;
    color: #ffbc0d;
    padding: 10px 15px;
    margin-top: 2px;
    border: 2px solid #ffbc0d;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 10px;
    transition: 0.5s;

    align-self: flex-end;
}
#tela-anunciar input[type="submit"]:hover{
    background-color: #ffbc0d;
    color: white;
}

/* css para tela_ferramentas_vendedor.php */

#tela-ferramentas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#tela-ferramentas > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    rotate: 30deg;
}

.triangulo {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 200px 200px 200px;
   border-color: transparent transparent #db0007 transparent;
   transform: rotate(0deg);
}

.retangulo {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 300px 100px;
   border-color: #db0007;
   transform: rotate(0deg);
}